//! **************************************************************************
// Written by: Map K.39 on Sun Nov 16 23:28:24 2014
//! **************************************************************************

SCHEMATIC START;
COMP "DVI_D7" LOCATE = SITE "AN13" LEVEL 1;
COMP "DVI_D8" LOCATE = SITE "AA10" LEVEL 1;
COMP "DVI_D9" LOCATE = SITE "AB10" LEVEL 1;
COMP "DVI_DE" LOCATE = SITE "AE8" LEVEL 1;
COMP "USER_CLK" LOCATE = SITE "AH15" LEVEL 1;
COMP "HDR1_10" LOCATE = SITE "G32" LEVEL 1;
COMP "HDR1_20" LOCATE = SITE "M32" LEVEL 1;
COMP "HDR1_12" LOCATE = SITE "H32" LEVEL 1;
COMP "HDR1_30" LOCATE = SITE "Y34" LEVEL 1;
COMP "HDR1_22" LOCATE = SITE "P34" LEVEL 1;
COMP "HDR1_14" LOCATE = SITE "J32" LEVEL 1;
COMP "HDR1_40" LOCATE = SITE "AG32" LEVEL 1;
COMP "HDR1_32" LOCATE = SITE "Y32" LEVEL 1;
COMP "HDR1_24" LOCATE = SITE "N34" LEVEL 1;
COMP "HDR1_16" LOCATE = SITE "J34" LEVEL 1;
COMP "HDR1_50" LOCATE = SITE "AK32" LEVEL 1;
COMP "HDR1_42" LOCATE = SITE "AH32" LEVEL 1;
COMP "HDR1_34" LOCATE = SITE "W32" LEVEL 1;
COMP "HDR1_26" LOCATE = SITE "AA34" LEVEL 1;
COMP "HDR1_18" LOCATE = SITE "L33" LEVEL 1;
COMP "HDR1_60" LOCATE = SITE "AM32" LEVEL 1;
COMP "HDR1_52" LOCATE = SITE "AL34" LEVEL 1;
COMP "HDR1_44" LOCATE = SITE "AK34" LEVEL 1;
COMP "HDR1_36" LOCATE = SITE "AH34" LEVEL 1;
COMP "HDR1_28" LOCATE = SITE "AD32" LEVEL 1;
COMP "HDR1_62" LOCATE = SITE "AN34" LEVEL 1;
COMP "HDR1_54" LOCATE = SITE "AL33" LEVEL 1;
COMP "HDR1_46" LOCATE = SITE "AK33" LEVEL 1;
COMP "HDR1_38" LOCATE = SITE "AE32" LEVEL 1;
COMP "HDR1_64" LOCATE = SITE "AN33" LEVEL 1;
COMP "HDR1_56" LOCATE = SITE "AM33" LEVEL 1;
COMP "HDR1_48" LOCATE = SITE "AJ32" LEVEL 1;
COMP "HDR1_58" LOCATE = SITE "AJ34" LEVEL 1;
COMP "AUDIO_SDATA_OUT" LOCATE = SITE "AG16" LEVEL 1;
COMP "AUDIO_SYNC" LOCATE = SITE "AF19" LEVEL 1;
COMP "DVI_GPIO1" LOCATE = SITE "N30" LEVEL 1;
COMP "DVI_RESET_B" LOCATE = SITE "AK6" LEVEL 1;
COMP "CLK_27MHZ_FPGA" LOCATE = SITE "AG18" LEVEL 1;
COMP "DVI_H" LOCATE = SITE "AM12" LEVEL 1;
COMP "DVI_V" LOCATE = SITE "AM11" LEVEL 1;
COMP "DVI_D10" LOCATE = SITE "AP14" LEVEL 1;
COMP "DVI_D11" LOCATE = SITE "AN14" LEVEL 1;
COMP "AUDIO_SDATA_IN" LOCATE = SITE "AE18" LEVEL 1;
COMP "HDR1_2" LOCATE = SITE "H33" LEVEL 1;
COMP "HDR1_4" LOCATE = SITE "F34" LEVEL 1;
COMP "HDR1_6" LOCATE = SITE "H34" LEVEL 1;
COMP "HDR1_8" LOCATE = SITE "G33" LEVEL 1;
COMP "AUDIO_BIT_CLK" LOCATE = SITE "AF18" LEVEL 1;
COMP "DVI_XCLK_N" LOCATE = SITE "AL10" LEVEL 1;
COMP "DVI_XCLK_P" LOCATE = SITE "AL11" LEVEL 1;
COMP "GPIO_DIP_SW1" LOCATE = SITE "U25" LEVEL 1;
COMP "GPIO_DIP_SW2" LOCATE = SITE "AG27" LEVEL 1;
COMP "GPIO_DIP_SW3" LOCATE = SITE "AF25" LEVEL 1;
COMP "GPIO_DIP_SW4" LOCATE = SITE "AF26" LEVEL 1;
COMP "GPIO_DIP_SW5" LOCATE = SITE "AE27" LEVEL 1;
COMP "GPIO_DIP_SW6" LOCATE = SITE "AE26" LEVEL 1;
COMP "GPIO_DIP_SW7" LOCATE = SITE "AC25" LEVEL 1;
COMP "GPIO_DIP_SW8" LOCATE = SITE "AC24" LEVEL 1;
COMP "DVI_D0" LOCATE = SITE "AB8" LEVEL 1;
COMP "DVI_D1" LOCATE = SITE "AC8" LEVEL 1;
COMP "DVI_D2" LOCATE = SITE "AN12" LEVEL 1;
COMP "DVI_D3" LOCATE = SITE "AP12" LEVEL 1;
COMP "DVI_D4" LOCATE = SITE "AA9" LEVEL 1;
COMP "DVI_D5" LOCATE = SITE "AA8" LEVEL 1;
COMP "DVI_D6" LOCATE = SITE "AM13" LEVEL 1;
SCHEMATIC END;

