//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 22 17:32:20 2014
//! **************************************************************************

SCHEMATIC START;
COMP "UART_TXD" LOCATE = SITE "N18" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "SSEG_CA<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "SSEG_CA<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "SSEG_CA<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "SSEG_CA<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "SSEG_CA<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "SSEG_CA<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "SSEG_CA<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "SSEG_CA<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "SSEG_AN<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "SSEG_AN<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "SSEG_AN<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "SSEG_AN<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "D9" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "C9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "A8" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "BTN<4>" LOCATE = SITE "B8" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T11" LEVEL 1;
SCHEMATIC END;

