Net LED<7> LOC=T11  |  IOSTANDARD=LVCMOS33;
Net LED<6> LOC=R11  |  IOSTANDARD=LVCMOS33;
Net LED<5> LOC=N11  |  IOSTANDARD=LVCMOS33;
Net LED<4> LOC=M11  |  IOSTANDARD=LVCMOS33;
Net LED<3> LOC=V15  |  IOSTANDARD=LVCMOS33;
Net LED<2> LOC=U15  |  IOSTANDARD=LVCMOS33;
Net LED<1> LOC=V16  |  IOSTANDARD=LVCMOS33;
Net LED<0> LOC=U16  |  IOSTANDARD=LVCMOS33;

Net BTN<0> LOC=D9  |  IOSTANDARD=LVCMOS33;
Net BTN<1> LOC=C9  |  IOSTANDARD=LVCMOS33;
Net BTN<2> LOC=C4  |  IOSTANDARD=LVCMOS33;
Net BTN<3> LOC=A8  |  IOSTANDARD=LVCMOS33;
Net BTN<4> LOC=B8  |  IOSTANDARD=LVCMOS33;

Net SW<0> LOC=T10  |  IOSTANDARD=LVCMOS33;
Net SW<1> LOC=T9   |  IOSTANDARD=LVCMOS33;
Net SW<2> LOC=V9   |  IOSTANDARD=LVCMOS33;
Net SW<3> LOC=M8   |  IOSTANDARD=LVCMOS33;
Net SW<4> LOC=N8   |  IOSTANDARD=LVCMOS33;
Net SW<5> LOC=U8   |  IOSTANDARD=LVCMOS33;
Net SW<6> LOC=V8   |  IOSTANDARD=LVCMOS33;
Net SW<7> LOC=T5   |  IOSTANDARD=LVCMOS33;

Net SSEG_CA<0> LOC=T17  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<1> LOC=T18  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<2> LOC=U17  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<3> LOC=U18  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<4> LOC=M14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<6> LOC=L14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<7> LOC=M13  |  IOSTANDARD=LVCMOS33;

Net SSEG_AN<0> LOC=P17  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<1> LOC=P18  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<2> LOC=N15  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<3> LOC=N16  |  IOSTANDARD=LVCMOS33;

Net UART_TXD LOC=N18  |  IOSTANDARD=LVCMOS33;

Net CLK LOC=V10  |  IOSTANDARD=LVCMOS33;